{% extends 'portal/base.html' %}

{% block head_title %}Not Found{% endblock %}

{% block content %}
    <h2>Error 404: Not Found</h2>

    <p class="errorlist" style="max-width: 100%;">We could not find the content you were looking for. It can be because the content you are
        looking for does not exist in the database or the details you have entered are incorrect.
        Please recheck the request and try again.</p>

    <p class="errorlist" style="max-width: 100%;">Sorry for the inconvenience.</p>
{% endblock %}