{% extends 'portal/base.html' %}

{% block head_title %}Institute{% endblock %}

{% block content %}
    <h2>{{ name }}</h2>
    <div class="table-style">
        <table align="center">
            <tr><th colspan="2" class="title">Institute Details</th></tr>
            <tr><th>Name</th><td>{{ name }}</td></tr>
            <tr><th>URL</th><td>{{ url }}</td></tr>
            <tr><th>Located in</th><td>{{ city }}, {{ state }}, {{ country }}</td></tr>
        </table>
    </div>
    <br />
    <h2>Publications Affiliated with {{ name }}</h2>
    {% include 'portal/publication_list.html' %}
{% endblock %}