{% extends 'portal/base.html' %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}
    <h2>Reset Password</h2>
    <p> Reset you account password. You may need to do this if you're creating the account for the first time,
        or if you're account password has been lost or forgotten. To login to your account
        click on <a href="{% url 'login' %}">this</a> link.
    </p>

    <form class="form-style" method="post">
        {% csrf_token %}
        <ul>
            {% if form.non_field_errors %}
            <li>
                {{ form.non_field_errors }}
            </li>
            {% endif %}
            <li>
                {{ form.email.errors }}<br />
                <label for="email">Email</label>
                {{ form.email }}
                <span>Enter your registered email here.</span>
            </li>
            <li>
                <input type="submit" value="Reset Password" />
            </li>
        </ul>
    </form>
{% endblock %}